* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 79px;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  }
  
  .header {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    font-family: Gilroy-SemiBold;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-left: 170px;
  }
  
  .menu__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    justify-content: start;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    justify-content: space-around;
  }
  
  .menu__links{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(173, 168, 168);
    display: flex;
    font-size: 20px;
    line-height: 20px;
    margin-top: 16px;
  }
  
  .sign{
    display: flex;
    align-items: center;
  }
  
  .sign__in{
    border: 1px solid #F2994A;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .sign__up{
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
    margin-left: 20px;
    padding: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .menu__items{
    display: flex;
    justify-content: start;
    justify-content: space-evenly;
    align-items: center;
    justify-content: space-around;
    display: flex;
  }
  
  .menu{
    display: flex;
    justify-content: start;
    justify-content: space-evenly;
    align-items: center;
    justify-content: space-around;
    margin-top: -14px;
    position: relative;
    right: 200px;
  }
  
  .link__in{
    text-decoration: none;
    color:#F2994A;
  }
  
  .link__up{
    text-decoration: none;
    color: white;
  }
  
  
  .sign{
    margin-bottom: 40px;
    margin-left: 100px;
  }
  
  .menu__links2{
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 20px;
    line-height: 20px;
    margin-top: 16px;
    margin-right: 50px;
    font-weight: bold;
    z-index: 1;
    font-size: 40px;
  }
  
  .header__logo2{
    margin-top: 15px;
    position: relative;
    height: 50px; 
    width: 50px;
    background: #F2994A;
    border-radius: 50%;
    left: 36px;
  }